.container {
    background-image: url("../assets/images/main_bg.jpg");
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: 360%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}
.content {
    /*height: 100vh;*/
    backdrop-filter: blur(7px)
}

.main {
    min-height: 80vh;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: 26px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.listElement {
    font-size: 20px;
    margin: 0 0 20px 0;
    height: 50px;
}